
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Dongle&family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@1,500&family=Outfit:wght@300&family=Roboto+Mono:ital@1&display=swap');


  .about-koral-content{
    flex: 6;
  }
  .percentage-table{
    flex: 6;
  }
  .about-koral-heading{
    font-weight: bold;
    font-size: 24px;
  }
  .about-koral-content1 ,.about-koral-content2{
    margin: 25px 0px;
  }

  .aboutKoral-container{
    text-align: left;
    display: flex;
    align-items: flex-start;
  }
.row{
  display: flex;
  align-items: flex-start;
}
  .col-6{
  
    display: flex;
    align-items: flex-start;
  }

  @media (max-width: 900) {
    
.aboutKoral-container{
   padding: 0;
   margin: 0;
}

  }