@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family:"Montserrat", Arial, "sans-serif", sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0px;
  
  }
  .header{
    
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
  }
  .icons{
     
      color: whitesmoke;
      display: flex;
       align-items: center;
  }
.logo-image{
  width:124px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0px 0px 10px;
}
  .social-icons{
    margin: 0px 5px;
  }
  .nav-items{
    justify-content: space-between;
    list-style: none;
   display: inline-block;
   position: relative;
   padding: 8px 12px;
  
  }
  .nav-items a{
    font-size: 17px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900;
    transition: 0.2s;
  }
  .nav-items a:hover{
    color: #F26A66;
    
  }

  

  .social-media-icons{
    margin:0px 10px;
    justify-content: space-between;
    font-size: 26px;
  }
