@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Dongle&family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@1,500&family=Outfit:wght@300&family=Roboto+Mono:ital@1&display=swap');



.button{
  font-size: 15px;
  margin:40px 10px;
  padding: 20px;
  color: #fff;
  border-radius: 40px;
  border: none;
  background-color: #F4364C;
  font-family: 'Outfit', sans-serif;

}
.design{
  font-family: 'Outfit', sans-serif;
}
.heading-design{
  font-weight: 900;
  font-size: 36px;
  font-family: 'Outfit', sans-serif;
}
.main-design{
   margin: 60px 0px 0px ;
  font-size: 17px;
  font-family: 'Outfit', sans-serif;
}


.infoImage{
  width: 400px;
  height: 400px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media( max-width: 900px) {
    
.button{
  font-size: 12px;
  margin:20px 5px;
  padding: 15px;
  color: #fff;
  border-radius: 40px;
  border: none;
  background-color: #F4364C;
  font-family: 'Outfit', sans-serif;

}
.heading-design{
  font-weight: 900;
  font-size: 30px;
  font-family: 'Outfit', sans-serif;
}

.main-design{
  margin: 60px 0px 0px ;
 font-size: 12px;
 font-family: 'Outfit', sans-serif;
}

}