@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Dongle&family=Mochiy+Pop+P+One&family=Montserrat:wght@700&family=Outfit:wght@300&family=Roboto+Mono:ital@1&display=swap');



body{
    margin: 0;
    padding: 0;
}

.navbar{
padding:20px;
margin: 0px;
background-color: black;
display:flex;
justify-content:space-between;
}
.logo-image{
    width: 100px;
}

.navbar-icons{
    margin:5px 10px 0px;
    font-size: 20px;
    color: black;
    font-weight: 400;
}

.nav-items{
    display: inline-block;
    position: relative;
    margin:5px 10px 0px;
    
}

.nav-items a{
    font-family: 'Montserrat',Arial, "sans-serif", sans-serif;
    font-weight: 700;
    margin:0px 10px 0px;
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.1s;
}

.nav-items a:hover{
    color: #fa7268;
    border-bottom: 2px solid #fa7268;
}

@media(max-width: 786px) {
    .nav-links{
        display: none;
    }
    .navbar-icon{
        margin:5px 10px 0px;
        font-size: 20px;
        color: whitesmoke;
        font-weight: 400;
    }
    
}